#rightNonAuthLinksHref[target="_blank"] {
    background-color: #BF0D3E !important;
}

.steps p .pink {
    color: #BF0D3E !important;
}

.steps .find-branch a {
    background: #BF0D3E !important;
}

.interest-item h4 {
    color: #BF0D3E !important;
}